@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: Nunito, ui-sans-serif, system-ui, -apple-system,
        BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
        "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
}
.text-dark-purple {
    color: #474161;
}
.homepage-header-bg {
    position: relative;
    margin: 50px 0 0 0;
    background-image: url("/images/homepage-header-bg.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}
.no-bg-image {
    background-image: none;
    border: 3px solid red;
}
.homepage-text-container {
    padding: 20px 0 20px 0;
}
.bg-light-violet {
    background-color: #e7eaff;
}
.border-light-violet {
    border-color: #e0e3fc;
}
.heading-gradient {
    background: -webkit-linear-gradient(95deg, #4338ca 15%, #312e81 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.coverPic {
    position: relative;
    margin: 0 auto;
    
    width: 100%;
    display: flex;
    justify-content: center;
   
}
.coverPic img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}
.coverPic>div{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #00000094;
    padding: 1rem;
}
.static-page p {
    padding: 10px 0 10px 0;
}
.static-page h1 {
    font-size: 150%;
}
.static-page h2 {
    font-size: 140%;
}
.static-page h3 {
    font-size: 130%;
}

.bg-indigo-800, .bg-violet-800, .bg-indigo-500{
    background-color: rgb(134, 0, 0) !important;
}
.bg-violet-600{
    background-color: rgb(255, 128, 128) !important;
}
.border-violet-800{
    border-color: rgb(134, 0, 0) !important;
}
.text-indigo-700, .text-indigo-800, .text-indigo-600, .text-indigo-900 , .text-zinc-200{
    color: rgb(134, 0, 0) !important;
}
.text-xl:hover{
    color: rgb(134, 0, 0) !important;
}
.text-white:hover{
    color: rgb(255, 128, 128) !important;
}
[type=checkbox], [type=radio]{
    color: rgb(134, 0, 0) !important;
    border-color: rgb(134, 0, 0) !important;
}
.ant-pagination-item-active{
    border-color: rgb(255, 128, 128) !important;
}
.ant-pagination-item-active a{
    color: rgb(134, 0, 0) !important;
}
.slick-next {
    right: -25px;
    width: 30px !important;
    height: 30px !important;
}
.slick-prev {
    left: -25px;
    z-index: 2;
    width: 30px !important;
    height: 30px !important;
}
.slick-prev:before,
.slick-next:before {
    display: none;
}
.slick-prev:after,
.slick-next:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: url("./next-arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
}
.slick-prev:after{
    transform: translate(-50%,-50%) rotate(180deg);
}

.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.image-gallery-image {
    pointer-events: none !important;
}

.image-gallery-thumbnail-image {
    pointer-events: none !important;
}


img.audio-thumbnail.w-full.rounded-lg.cursor-pointer.absolute.top-0.left-0.w-full.h-full.object-cover.opacity-30 {
    height: 65px;
    object-fit: fill;
}


img.thumbnail-image.rounded-tl-lg.rounded-tr-lg.mb-3 {
    max-width: 292px !important;
}

